body {
  padding: 5px;
}

.table thead {
  background-color: #282c34;
  color: white;
  text-align: center;
  height: 50px;
}

.table thead tr td {
  padding-bottom: 15px;
}

.table tbody {
  background-color: silver;
}

.table tbody tr td {
  text-align: center;
}
